body {
  background-color: #f5f5f5 !important;
  font-family: "lato" !important;
}

h1 {
  font-size: 60px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000033 !important;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px !important;
}
#hero-txt p {
  line-height: 1.1em;
}

#hero-t {
  transition: transform 0.99s ease-out, opacity 1s ease-out, filter 1s ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#hero-t.initial-state {
  transform: translateX(-100vw);
  opacity: 0;
  filter: blur(10px);
}

#hero-t.final-state {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

#hero-txt {
  transition: transform 0.99s ease-out, opacity 1s ease-out, filter 1s ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  line-height: 1.1 !important;
}

#hero-txt.initial-state {
  transform: translateX(100vw);
  opacity: 0;
  filter: blur(10px);
}

#hero-txt.final-state {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}
#hero-button-container.a {
  color: #000033;
}

#hero-button-container {
  transition: opacity 1s ease-out;

  opacity: 1;
  text-decoration: underline;
  color: #000033;
}

#hero-button-container.initial-state {
  opacity: 0;
}

#hero-button-container.final-state {
  opacity: 1;
}

#meff {
  max-width: 100%;
}

.form-control {
  font-weight: 300 !important;
  font-size: 0, 6rem !important;
}

.custom-btn {
  background-color: #000033;
  color: #f5f5f5;
  border: none;
  padding: 14px;
}

.custom-btn:hover {
  background-color: #f5f5f5;
  color: #000033;
  border-color: #f5f5f500;
  filter: drop-shadow();
  box-shadow: 4px 4px 25px rgba(68, 68, 221, 0.548);
}

.custom-btn2 {
  max-width: 80px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000033;
  background-color: #ffffff00;
  font-size: 14px;
  padding: 0px !important;
  display: block;
  text-decoration: underline !important;
}

img {
  padding: 0px !important;
}

.custom-btn2:hover {
  border: none;
  text-decoration: underline !important;
}

#footer {
  background-color: #000033;
  color: #f5f5f5;
}

#socials {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.logo {
  fill: #f5f5f5;
  height: 40px;
}

.btn-alert {
  padding: 0px !important;
}

header {
  background-color: #f5f5f5;
  width: 100%;
}

.bg-red {
  background-color: red !important;
}

.bg-green {
  background-color: aqua !important;
}

ul {
  list-style-type: none;
  padding-left: 0px !important;
}

li a {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.no-underscore {
  text-decoration: none;
}

input {
  color: #000033 !important;
}

.bi-list {
  color: #000033;
  font-size: 30px;
}

.offcanvas-body,
.offcanvas-header {
  background-color: #000033;
  color: #f5f5f5;
}

a:hover {
  color: #3434dd !important;
}

.logo-f {
  height: 100px;
}

a {
  text-decoration: none !important;
  color: #000033 !important;
}

.offcanvas-header .btn-close {
  color: #f5f5f5;
  opacity: 1;
}

.offcanvas-header .btn-close:hover {
  color: #cccccc;
  opacity: 1;
}

.data-portfolio {
  color: #000033;
  size: 12px !important;
}

.data-portfolio:hover {
  color: #3434dd;
}

p,
span {
  font-size: 18px;
  color: #000033;
  line-height: 1.8em;
}

strong {
  color: #000033;
}

.type-p {
  font-size: 0.7em !important;
}

.blur {
  background-color: #f5f5f500;
  backdrop-filter: blur(2.5px);
  z-index: 1000;
}

.border-hero {
  border-left: #000033 3px solid !important;
  padding-left: 15px !important;
}

.cool-hover {
  box-shadow: none !important;
  transition: transform 0.25s ease-out, box-shadow 0.3s ease-out;
  transform: translateY(0);
}
.cool-hover:hover {
  box-shadow: 4px 4px 25px rgba(68, 68, 221, 0.548) !important;
  transform: translateY(-25px);
}

#txt-field {
  min-height: 150px !important;
}

.home-s {
  height: 800px !important;
}

@media screen and (max-width: 767px) {
  .border-hero {
    border: none !important;
  }
}

@media screen and (max-width: 1440px) {
  .home-s {
    height: auto !important;
  }
}
